		<footer class="footer">
			<div class="utilities">
				<ul>
					<li class="go-top"><a href="{{AbsoluteUrl}}#body-start">{{Config-FFGoTopTitle}}</a></li>
					<li class="go-back"><a href="javascript:history.go(-1)">{{Config-FFGoBackTitle}}</a></li>
          <li class="sitemap"><a href="/{{{LanguageIsoCode2}}}/sitemap.htm" accesskey="4">{{Config-FFSitemapTitle}}</a></li>
					<li class="print"><a href="javascript:window.print()">{{Config-FFPrintTitle}}</a></li>
					<li class="render-pdf"><a href="http://convert.html2pdf.seven49.net/?url_to_render={{{EncodedAbsoluteUrl}}}">{{Config-FFPdfTitle}}</a></li>
				</ul>
			</div>
			<div class="print-copyright-and-source">{{Config-FFPrintSourceTitle}} {{AbsoluteUrl}}</div>
		</footer>
</div>
<script src="http://cdn.seven49.net/common/js/jquery/seven49/navigation/navigation-2.latest.min.js"></script>
<script src="http://cdn.seven49.net/common/js/jquery/seven49/utilities/utilities-1.latest.min.js"></script>
<script src="http://cdn.seven49.net/common/js/jquery/seven49/formBuilder/formBuilder-1.latest.min.js"></script>
<script src="/template/js/main.js"></script>
<script src="/template/js/controller.js"></script>
<script>
	loadContents('{{UrlID}}', '{{LanguageIsoCode2}}');
</script>
</body>
</html>