			<div id="UtilityFunctions" class="UtilityFunctions">
				<ul>
					<li id="UtilityFunctionsGoTop"><a href="#HeaderContainer">{{Config-FFGoTopTitle}}</a></li>
					<li id="UtilityFunctionsGoBack"><a href="javascript:history.go(-1)">{{Config-FFGoBackTitle}}</a></li><li id="UtilityFunctionsSitemap"><a href="/{{{LanguageIsoCode2}}}/sitemap.htm" accesskey="4">{{Config-FFSitemapTitle}}</a></li>
					<li id="UtilityFunctionsPrint"><a href="javascript:window.print()">{{Config-FFPrintTitle}}</a></li>
					<li id="UtilityFunctionsPdf" class="UtilityFunctionsPdf"><a href="http://convert.html2pdf.seven49.net/?url_to_render={{{EncodedAbsoluteUrl}}}">{{Config-FFPdfTitle}}</a></li>
				</ul>
			</div>