<!--#include file="template/includes/doc-head.htm" -->

<body class="page_{{UrlID}} {{SkinClass}} {{AutoCssClass}}">
<div id="RootContainer" class="RootContainer {{AutoCssClass}}">
	<form method="post" id="aspnetForm" enctype="multipart/form-data" class="aspnetForm {{SkinClass}}">
		<div id="HeaderContainer" class="HeaderContainer">
			<div id="PrintLogo"></div>
			<div id="MobileLogo"></div>
			<div id="DirectLinks">
				<ul>
					<li class="MainContent"><a href="#MainContent" accesskey="2">{{Text-cms_waidirectlinksmaincontent}}</a></li>
					<li class="Navigation"><a href="#MainNavigation" accesskey="1">{{Text-waidirectlinksnavigation}}</a></li>
				</ul>
			</div>
			<div id="LanguageSelection"></div>
			<div id="PrimaryHeader"></div>
			<div id="MainNavigation" class="MainNavigation"></div>
			<div id="SecondaryHeader"></div>
		</div>
		<div id="BodyContainer" class="BodyContainer">
			<div id="LeftColumnContainer" class="LeftColumnContainer">
				<div id="AdditionalContent1"></div>
				<div id="TreeNavigation" class="TreeNavigation"></div>
				<div id="AdditionalContent2"></div>
			</div>
			<div id="CenterColumnContainer" class="CenterColumnContainer">
				<div id="MainContent" class="MainContent">{{{MainContent}}}</div>
				<div id="CenterColumnAdvertisingRight" class="CenterColumnAdvertisingRight"></div>
				<div id="CenterColumnAdvertisingBottom" class="CenterColumnAdvertisingBottom"></div>
			</div>
			<div id="RightColumnContainer" class="RightColumnContainer">
				<div id="AdditionalContent3"></div>
				<div id="Advertising"></div>
				<div id="AdditionalContent4"></div>
				<div id="Search"></div>
			</div>
		</div>
		<div id="FooterContainer" class="FooterContainer">
			<div id="PrimaryFooter"></div>
			<!--#include file="template/includes/utility-functions.htm" -->
			<div id="SecondaryFooter"></div>
			<div id="PrintCopyrightAndSource">{{Config-FFPrintSourceTitle}} {{AbsoluteUrl}}</div>
		</div>
</form>
</div>
<!--#include file="template/includes/footer-scripts.htm" -->
</body>
</html>
